<template>
    <div>
        <b-card  
            v-if="loading"
            no-body img-top
            class="m-2 flex-fill"
            tag="article"
            style="max-width: 15rem; min-height: 229px; min-width: 240px">
            <b-skeleton-img card-img="top" aspect="3:2"></b-skeleton-img>
            <b-list-group flush>
                <b-list-group-item>
                    <b-skeleton animation="wave" width="55%"></b-skeleton>                
                </b-list-group-item>
                <b-list-group-item>
                    <b-skeleton animation="wave" width="70%"></b-skeleton>
                </b-list-group-item>
            </b-list-group>
        </b-card>    
    </div>
</template>    

<script>
export default {
    props: {
        loading: {
            type: Boolean,
            default: false
        }
    }
}
</script>