<template>
  <div class="container">
    <div class="d-flex justify-content-center my-2">
      <div class="w-100">
        <b-breadcrumb>
          <b-breadcrumb-item href="/">
            Home
          </b-breadcrumb-item>
          <b-breadcrumb-item href="#bar">{{recipe.Type.replace(/([A-Z])/g, ' $1').trim()}}</b-breadcrumb-item>
          <b-breadcrumb-item active>{{recipe.Name}}</b-breadcrumb-item>
        </b-breadcrumb>
        <div class="d-flex flex-wrap d-flex align-self-start mb-3">
          <b-card  
            no-body img-top
            class="flex-fill"
            tag="article">
            <b-carousel
              id="carousel-fade"
              style="text-shadow: 0px 0px 2px #000"
              fade
              indicators
              img-width="1024"
              img-height="480"
            >
              <b-carousel-slide
                v-for="p in recipe.Photos" v-bind:key="p.Id"
                :img-src="p.Url"
              ></b-carousel-slide>
            </b-carousel>
            <b-list-group flush>
              <b-list-group-item class="text-left font-italic">
                <h4>How delicious it is...</h4>
                {{recipe.Description}}
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>What ingredients you need...</h4>
                <ul>
                  <li v-for="ing in recipe.Ingredients" v-bind:key="ing.Id">
                    {{ing.Name + " " + ing.Qty + ing.Unit}}
                  </li>
                </ul>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>Yum yum, let's get it ready...</h4>
                <ol>
                  <li v-for="s in recipe.Steps" v-bind:key="s.Id">
                    {{s.Guide}}
                  </li>
                </ol>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <b-button :href="currentLocUrl+'/edit'" variant="outline-warning"><fa :icon="['fas', 'edit']" /> Edit</b-button>
                <b-button v-on:click="deleteRecipe()" variant="outline-danger"><fa :icon="['fas', 'trash']" /> Delete</b-button>
              </b-list-group-item>
            </b-list-group>
          </b-card> 
        </div>
      </div>
    </div>
  </div>
</template>
<script>
function getExpandQuery(){
  return `$expand=`+
    `Ingredients($count=true)`+
    `,Steps($count=true;$orderby=No asc)`+
    `,Photos($count=true)`;
}
export default {
    async asyncData(context){
      let recipe = null;
      try {
        recipe = (await context.$axios.get(`odata/recipes('${context.params.id}')?${getExpandQuery()}`)).data.value[0];
        if(recipe.Type.toLowerCase() != context.params.category.toLowerCase()){
           context.error({ statusCode: 404, message: 'Post not found' })
        }
      } catch (error) {
        console.log(error);
        alert('Something went wrong, please try again!', error)
      }
      return {
        recipe,
        context,
        currentLocUrl: window.location.href
      }
    },
    methods:{
      deleteRecipe(){
        if(confirm('Are you sure want to delete ' + this.recipe.Name + '?')){
          this.context.$axios.$delete(`odata/recipes('${this.recipe.Id}')`)
            .then((result) => {
              this.context.redirect('/')
            }).catch((err) => {
              alert('Something went wrong, please try again!')
            });
        }
      }
    }
}
</script>