<template>
  <div class="container">
    <div class="d-flex justify-content-center my-2">
      <div class="w-100">
        <b-breadcrumb>
          <b-breadcrumb-item href="/">
            Home
          </b-breadcrumb-item>
          <b-breadcrumb-item href="#bar">{{Type.replace(/([A-Z])/g, ' $1').trim()}}</b-breadcrumb-item>
          <b-breadcrumb-item active>Create</b-breadcrumb-item>
        </b-breadcrumb>
        <div class="d-flex flex-wrap d-flex align-self-start mb-3">
          <b-card  
            no-body img-top
            class="flex-fill"
            tag="article">
            <b-list-group flush>
              <b-list-group-item class="text-left font-italic">
                <h4>Recipe name?</h4>
                <b-form-input
                  v-model="Name"
                  :state="Name.length > 2"
                  placeholder="Enter the name..."
                ></b-form-input>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>How delicious it is?</h4>
                <b-form-textarea
                  v-model="Description"
                  :state="Description.length > 2"
                  id="textarea"
                  placeholder="Enter description..."
                  rows="3"
                  max-rows="6"
                ></b-form-textarea>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>What ingredients you need? <fa v-show="Ingredients.length > 0" :icon="['fas', 'check']" class="text-success" /></h4>
                <ul>
                  <li v-for="(ing,i) in Ingredients" v-bind:key="i" >
                    {{ing.Name + " " + ing.Qty + " " + ing.Unit}} <fa v-on:click="removeIng(i)" :icon="['fas', 'times']" />
                  </li>
                </ul>
                <b-list-group-item class="p-0">
                  <b-input-group>
                      <b-form-input
                        v-model="ingName" 
                        :state="ingName.length > 2"
                        variant="secondary" 
                        type="text" 
                        placeholder="Add ingredient">
                      </b-form-input>
                      <b-input-group-append>
                        <b-form-input
                          v-model="ingQty" 
                          variant="secondary" 
                          type="number"
                          step="1"
                          min="1" >
                        </b-form-input>
                        <b-form-select
                          v-model="ingUnit" :options="unitOptions"
                          variant="secondary">
                        </b-form-select>
                        <b-button v-on:click="addIng" variant="outline-secondary" class="border border-light rounded-right"><fa :icon="['fas', 'plus']" /></b-button>
                      </b-input-group-append>
                  </b-input-group>
                </b-list-group-item>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>Yum yum, let's get it ready? <fa v-show="Steps.length > 0" :icon="['fas', 'check']" class="text-success"/></h4>
                <ul>
                  <li v-for="(s,i) in Steps" v-bind:key="i" >
                    {{s.Guide}} <fa v-on:click="removeStep(i)" :icon="['fas', 'times']" />
                  </li>
                </ul>
                <b-list-group-item class="p-0">
                  <b-input-group>
                      <b-form-textarea
                        v-model="stepGuide" 
                        :state="stepGuide.length > 2"
                        v-show="Steps.length <= 20"
                        variant="secondary"
                        placeholder="Add step">
                      </b-form-textarea>
                      <b-input-group-append>
                        <b-button v-on:click="addStep" variant="outline-secondary"><fa :icon="['fas', 'plus']" /></b-button>
                      </b-input-group-append>
                  </b-input-group>
                </b-list-group-item>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <h4>Seems so delicious, how does it looks like? <fa v-show="Photos.length > 0" :icon="['fas', 'check']" class="text-success"/></h4>
                <ul>
                  <li v-for="(p,i) in Photos" v-bind:key="i" >
                    {{p.Url}} <fa v-on:click="removePhoto(i)" :icon="['fas', 'times']" />
                  </li>
                </ul>
                <b-list-group-item class="p-0">
                  <b-input-group>
                      <b-form-input
                        v-model="photoUrl" 
                        :state="isValidImg(photoUrl)"
                        variant="secondary" 
                        type="text" 
                        placeholder="Add a photo url">
                      </b-form-input>
                      <b-input-group-append>
                        <b-button v-on:click="addPhoto" variant="outline-secondary" class=""><fa :icon="['fas', 'plus']" /></b-button>
                      </b-input-group-append>
                  </b-input-group>
                </b-list-group-item>
              </b-list-group-item>
              <b-list-group-item class="text-left font-italic">
                <b-button v-on:click="submitForm()" variant="outline-primary"><fa :icon="['fas', 'save']" /> Save</b-button>
                <b-button v-on:click="resetForm()" variant="outline-secondary"><fa :icon="['fas', 'trash']" /> Reset</b-button>
              </b-list-group-item>
            </b-list-group>
          </b-card> 
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  async asyncData(context){
    const fetchedUnits = (await context.$axios.get(`static/units`)).data;
    let fetchedCats = (await context.$axios.get(`static/types`)).data;
    fetchedCats = fetchedCats.filter(c => c.toLowerCase() == context.params.category.toLowerCase())
    if(!fetchedCats.length){
      context.error({ statusCode: 404, message: 'Post not found' })
    }
    let Type = fetchedCats[0]        
    return {
      context,

      Type,
      Name: "",
      Description: "",
      Photos: [],
      Ingredients: [],
      Steps: [],

      ingQty: 1,
      ingName: "",
      ingUnit: fetchedUnits[0],
      unitOptions: fetchedUnits.map((u,i) => {
        return { value: u, text: u}
      }),
      stepGuide: "",
      photoUrl: "",
    }
  },
  methods:{
    submitForm(){
      if(this.Name.length > 2 && this.Description.length > 2 && this.Ingredients.length > 0 && this.Steps.length > 0 && this.Photos.length > 0){
        console.log({
          Type: this.Type,
          Name: this.Name,
          Description: this.Description,
          Photos: this.Photos,
          Steps: this.Steps,
          Ingredients: this.Ingredients
        });
        this.context.$axios.post("odata/recipes",{
          Type: this.Type,
          Name: this.Name,
          Description: this.Description,
          Photos: this.Photos,
          Steps: this.Steps.map((s,i) => {
            s.No = i + 1
            return s;
          }),
          Ingredients: this.Ingredients
        })
      }
    },
    resetForm(){
      this.Name = "";
      this.Description = "";
      this.Photos = [];
      this.Steps = [];
      this.Ingredients = [];
    },
    removeIng(i){
      this.Ingredients.splice(i,1)
    },
    addIng(){
      if(this.ingName.length > 2){
        this.Ingredients.push({
          "Name": this.ingName,
          "Qty": this.ingQty,
          "Unit": this.ingUnit
        });
        this.ingName = "";
      }
    },
    removeStep(i){
      this.Steps.splice(i,1)
    },
    addStep(){
      if(this.stepGuide.length > 2){
        this.Steps.push({
          "Guide": this.stepGuide
        });
        this.stepGuide = "";
      }
    },
    removePhoto(i){
      this.Photos.splice(i,1)
    },
    addPhoto(){
      if(this.isValidImg(this.photoUrl)){
        this.Photos.push({
          "Url": this.photoUrl
        });
        this.photoUrl = "";
      }
    },
    isValidImg(photoUrl){
      var r = new RegExp("^(https?|ftp)://.*(jpeg|png|gif|bmp)");
      return r.test(photoUrl);
    }
  }
}
</script>