<template>
  <div class="container">
    <div style="margin: 0 35px;">
      <b-container>
        <div class="d-flex justify-content-center my-2">
          <div class="w-50">
            <div class="d-flex">
              <div class="w-100">
                <b-list-group flush>           
                  <b-list-group-item class="p-0 border rounded border-secondary">
                    <b-input-group>
                        <b-form-input 
                          v-on:keyup.enter="updateRecipeGrids()" v-model="searchRecipeTerms" 
                          class="border border-light" 
                          variant="secondary" 
                          type="text" 
                          placeholder="Search recipe" >
                        </b-form-input>
                        <b-input-group-append>
                          <b-button v-on:click="isRecipeOrderAsc = !isRecipeOrderAsc; updateRecipeGrids()" squared variant="outline-secondary" class="border border-light">
                            <fa :icon="['fas', (isRecipeOrderAsc ? 'sort-alpha-down' : 'sort-alpha-down-alt')]" />
                          </b-button>
                          <b-button v-on:click="updateRecipeGrids()" variant="outline-secondary" class="border border-light rounded-right"><fa :icon="['fas', 'search']" /></b-button>
                        </b-input-group-append>
                    </b-input-group>
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="ml-md-1 flex-shrink-1 d-flex">
                <b-button 
                  v-b-toggle.filter-collapse 
                  v-on:click="toggleFilter"
                  :variant="filterCounter > 0 ? 'outline-primary' : 'outline-secondary'" 
                  class="d-flex justify-content-center align-items-center">
                  <b-badge v-show="filterCounter > 0" pill :variant="filterCounter > 0 ? 'primary' : 'secondary'" style="top:0; margin-right:1px">{{filterCounter}}</b-badge> 
                  Filter<span v-show="filterCounter > 1">s</span>
                </b-button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <b-collapse id="filter-collapse" class="w-50 my-2r">
            <b-card  
                no-body
                class="border-0">
                <b-list-group flush>
                  <b-list-group-item class="text-center border border-secondary border-bottom-0">
                    <strong>max total step</strong>: {{maxStepFilter}} <br>
                    <b-input-group>
                      <b-input-group-prepend>
                        <b-button squared variant="outline-secondary" class="border border-light">
                          0
                        </b-button>
                      </b-input-group-prepend>
                      <b-form-input 
                        v-model="maxStepFilter"
                        class="rounded-0 border border-light" 
                        variant="secondary" 
                        type="range"
                        number
                        min="0"
                        :max="maxStep"
                        step="1" 
                        placeholder="Search ingredients to filter" >
                      </b-form-input>
                      <b-input-group-append>
                        <b-button squared variant="outline-secondary" class="border border-light">
                          {{maxStep}}
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-list-group-item>
                  <b-list-group-item class="text-center border border-secondary border-bottom-0">
                    <strong>ingredients</strong>: <br />
                    <b-badge 
                      v-for="(ingredient,i) in selectedIngredients" v-bind:key="ingredient.Id" 
                      v-on:click="removeIngredientToFilter(i)"
                      style="cursor:pointer" variant="primary" >
                      {{ingredient.Name}}&nbsp;<fa :icon="['fas', 'times']" />
                    </b-badge>
                  </b-list-group-item>
                  <b-list-group-item class="p-0 border border-secondary">
                    <b-input-group>
                      <b-form-input 
                        v-model="searchIngredientTerms"
                        v-on:keyup.enter="fetchIngredients"
                        class="rounded-0 border border-light" 
                        variant="secondary" 
                        type="text" 
                        placeholder="Search ingredients to filter" >
                      </b-form-input>
                      <b-input-group-append>
                        <b-button v-on:click="fetchIngredients" squared variant="outline-secondary" class="border border-light"><fa :icon="['fas', 'search']" /></b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-list-group-item>
                  <b-list-group-item v-if="fetchedIngredients.length" class="text-center border border-secondary border-top-0">
                    <b-badge 
                      v-for="(ing, i) in fetchedIngredients" v-bind:key="ing.Id" 
                      v-on:click="addIngredientToFilter(i)"
                      style="cursor:pointer" variant="secondary">
                      {{ing.Name}}&nbsp;<fa :icon="['fas', 'plus']" />
                    </b-badge>
                    <b-badge 
                      v-show="loadMoreIngredientsLink!=null" 
                      v-on:click="loadMoreIngredients"
                      variant="secondary">
                      Load more
                    </b-badge>
                  </b-list-group-item>
                  <b-list-group-item v-else class="text-center border border-secondary border-top-0">
                    No ingredient found
                  </b-list-group-item>
                </b-list-group>
              </b-card>
          </b-collapse>
        </div>
        <b-breadcrumb class="d-flex mt-5">
          <b-breadcrumb-item href="/">
            Home
          </b-breadcrumb-item>
          <b-breadcrumb-item active>{{categorySelected[0].value}}</b-breadcrumb-item>
        </b-breadcrumb>
        <div class="d-flex justify-content-between align-items-center my-2">
          <div class="d-flex align-self-center">
            <b-button :href="'/'+$route.params.category+'/create'" variant="outline-primary" >
              <fa :icon="['fas', 'plus']" /> Add
            </b-button>
          </div>
          <p v-if="countRecipes > 0" class="d-flex align-self-center align-items-center mt-3">
            {{countRecipes}} recipe{{ countRecipes > 1 ? "s" : "" }} in total
          </p>
          <p v-else class="d-flex align-self-center">
            No recipe
          </p>
        </div>
      </b-container>
    </div>
    <div style="margin: -10px 40px 0;" class="d-flex flex-wrap d-flex align-self-start mb-3">
      <b-card  
        v-for="recipe in recipes" :key="recipe.Id"
        no-body img-top
        class="m-2 flex-fill"
        tag="article"
        img-src="https://picsum.photos/600/300/?image=25"
        style="max-width: 15rem; min-height: 229px; min-width: 240px">
        <template #header>
          <nuxt-link :to="recipe.Id" class="text-dark">          
            <h5 class="mb-0">
              {{recipe.Name}}
            </h5>
          </nuxt-link>
        </template>
        <b-list-group flush>
          <b-list-group-item>
            <span>
              {{recipe['Ingredients@odata.count']}} <fa :icon="['fas', 'carrot']" />
            </span>
            &nbsp;
            <span>
              {{recipe['Steps@odata.count']}} <fa :icon="['fas', 'sort-numeric-down']" />
            </span>
          </b-list-group-item>
        </b-list-group>
      </b-card> 
      <b-card
        v-if="loadMoreGridsLink && !loading" 
        tag="article"
        style="max-width: 240px; min-height: 229px"
        class="m-2 flex-fill d-flex align-items-center justify-content-center"
      >
        <div class="h-100 d-flex align-items-center justify-content-center"> 
          <b-button v-on:click="loadMoreGrids()" variant="outline-primary">Load more</b-button>                  
        </div>
      </b-card>
      <SkeletonCard 
        v-for="num in 3" :key="num" 
        :loading="loading" 
        :class="{'d-flex flex-wrap align-self-start mb-3': loadMoreGridsLink == null || loadMoreGridsLink == undefined ? true : false }">
      </SkeletonCard>
    </div>
  </div>
</template>

<script>
import SkeletonCard from '~/components/SkeletonCard.vue';
export default {
  components: { SkeletonCard },
  async asyncData(context){
    const categories = (await context.$axios.get("static/types")).data;  
    const maxStep = (await context.$axios.get("odata/recipes?$top=1&$expand=steps($count=true;$top=0)&$orderby=steps/$count desc")).data.value;
    let categorySelected = [];
    categories.forEach(c => {
      if(context.params.category.toLowerCase() == c.toLowerCase()){
        categorySelected.push( {
          "value": c,
          "text": c.replace(/([A-Z])/g, ' $1').trim()
        } );
      }
    })
    console.log(categorySelected.length)
    if(categorySelected.length == 0) context.error({ statusCode: 404, message: 'Post not found' })
    return {
      "$axios": context.$axios,
      searchRecipeTerms: "",
      countRecipes: null,
      recipes: null,
      categorySelected,
      loadMoreGridsLink: null,
      loading: false,
      isRecipeOrderAsc: true,
      maxStepFilter: 0,
      maxStep: maxStep.length ? maxStep[0]["Steps@odata.count"] : 0,
      filterCounter: 0,
      searchIngredientTerms: "",
      selectedIngredients: [],
      fetchedIngredients: [],
      loadMoreIngredientsLink: null,
    }
  },
  watch:{
    maxStepFilter(){
      this.updateRecipeGrids();
    }
  },
  created(){
    this.updateRecipeGrids()
  },
  methods: {
    updateRecipeGrids(){
      this.loading = true;
      this.$axios.get("odata/recipes" + this.getQueryParams())
        .then(res => {
          const recipeData = res.data;
          this.countRecipes = recipeData["@odata.count"];
          this.recipes = recipeData.value;
          this.loadMoreGridsLink = recipeData["@odata.nextLink"];
          this.loading = false;
        }).catch(e => {
          alert("Some went wrong, please try again!");
        });
    },
    loadMoreGrids(){
      this.loading = true;
      this.$axios.get(this.loadMoreGridsLink)
        .then(res => {
          const recipeData = res.data;
          this.countRecipes = recipeData["@odata.count"];
          this.recipes.push(...recipeData.value);
          this.loadMoreGridsLink = recipeData["@odata.nextLink"];
          this.loading = false;
        }).catch(e => {
          alert("Some went wrong, please try again!");
        });
    },
    getQueryParams(){
      const params = [
        `$count=true`,
        this.getExpandQuery(),
        this.getFilterQuery(),
        this.getOrderQuery()
      ];
      return `?${params.join("&")}`;
    },
    getExpandQuery(){
      return `$expand=`+
        `Ingredients($count=true;$top=0)`+
        `,Steps($count=true;$top=0)`+
        `,Photos($count=true;$top=0)`;
    },
    getFilterQuery(){
      let filterQueries = [];
      let filterCtr = 0;

      if(this.searchRecipeTerms != ""){
        filterQueries.push(`indexof(tolower(Name), '${this.searchRecipeTerms.toLowerCase()}') gt -1`);
      }

      if(this.categorySelected.length != 0){
        let categoryQueries = [];
        this.categorySelected.forEach(category => {
          categoryQueries.push(`Type eq '${category.value}'`);
        });
        filterQueries.push(`(${categoryQueries.join(' or ')})`);
      }

      if(this.maxStepFilter){
        filterQueries.push(`Steps/all(s: s/No le ${this.maxStepFilter})`);
        filterCtr += 1;
      }

      if(this.selectedIngredients.length != 0){
        let ingQueries = [];
        this.selectedIngredients.forEach(ing => {
          ingQueries.push(`Ingredients/any(i:i/Id eq '${ing.Id}')`);
        });
        filterQueries.push(`(${ingQueries.join(' or ')})`);
        filterCtr += ingQueries.length;
      }

      this.filterCounter = filterCtr;
      return filterQueries.length  
        ? `$filter=${filterQueries.join(' and ')}`
        : '';
    },
    getOrderQuery(){
      let orderQueries = [];
      if(this.maxStepFilter){
        orderQueries.push('Steps/$count desc')
      }
      if(this.isRecipeOrderAsc){
        orderQueries.push('Name asc');
      } else {
        orderQueries.push('Name desc');
      }
      return orderQueries.length  
        ? `$orderby=${orderQueries.join(',')}`
        : '';
    },
    toggleFilter(){
      if(this.filterCounter){
        this.maxStepFilter = 0;
        this.selectedIngredients = [];
        this.filterCounter = 0;
        this.updateRecipeGrids();
      }
    },
    fetchIngredients(){
      this.$axios.get(`odata/ingredients?$filter=indexof(tolower(Name), '${this.searchIngredientTerms.toLowerCase()}') gt -1&$orderby=Name`)
        .then(res => {
          const ingredients = res.data.value;
          this.fetchedIngredients = this.filterIngredientFetched(res.data.value);          
        }).catch(err => {
          alert(`Something went wrong, please try again!`)
        });
    },
    loadMoreIngredients(){
      fetch(this.loadMoreIngredientsLink)
        .then(res => {
          this.fetchedIngredients.puhs(this.filterIngredientFetched(res.data.value));          
        }).catch(err => {
          alert(`Something went wrong, please try again!`)
        })
    },
    addIngredientToFilter(i){
      this.selectedIngredients.push(this.fetchedIngredients[i]);
      this.fetchedIngredients.splice(i,1);
      this.updateRecipeGrids();
    },
    removeIngredientToFilter(i){
      this.fetchedIngredients.push(this.selectedIngredients[i]);
      this.selectedIngredients.splice(i,1);
      this.updateRecipeGrids();
    },
    filterIngredientFetched(ingredients){
      return ingredients.filter(ing => {
            var found = false;
            for(var i = 0; i < this.selectedIngredients.length; i++) {
                if (this.selectedIngredients[i].Id == ing.Id) {
                    found = true;
                    break;
                }
            }
            return !found;
          });
    }
  }
}
</script>